/* Estilos de CURIOSIDADES */
.body-curiosidades{
    background-color: #f4c713;
    #curiosidades{
        #titulo-cur{
            color: white;
        }
        .col-lg-4{
            margin: 0;
            padding: 25px;
                img{
                    width: 100%;
                    height: 450px;
                    border: solid black;
                    }
                .p-curiosidades{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    width: 100%;
                    }
        }
    }
}
/* Fin Estilos de CURIOSIDADES */