@import '../base/extends';
/* Estilos del FOOTER */
footer{
    background-color: #74ACDF;
    .logo{
        display: flex;
        justify-content: center;
        .logo-footer{
            width: 250px;
            height: 250px;
            transition: all .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    nav{
        ul{
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: left;
            .fb{
                @extend %redes;
            }
            .ig{
                @extend %redes;
            }
            .tw{
                @extend %redes;
            }
            .tik{
                @extend %redes;
            }
        }
    }
}
/* Fin Estilos del FOOTER */