/* Estilos del HEADER */
header{
    background-color: #74ACDF;
    nav{
        border: solid;
        background-color: #142B89;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .nav-link{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    transition: all .5s;
                    &:hover{
                        color: #ffffff;
                        background-color: #38b6ff;
                        box-shadow: 0 0 10px #38b6ff, 0 0 40px #38b6ff, 0 0 80px #38b6ff;
                        border-radius: 5px;
                        letter-spacing: 3px;
                    }
            }
        }
    }
}
.logo-header{
            width: 250px;
            height: 250px;
            margin-left: 620px;
            transition: all .5s;
        &:hover{
            transform: scale(1.1);
    }
}
/* Fin Estilos del HEADER */