/* MEDIA QUERIES version MOBILE */
@media only screen and (max-width: 480px){
    /* Footer */
    .fb, .ig, .tw, .tik {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    /* Fin Footer */
    /* Index */
    #sliders{
        .slider-reg{
            width: 300px;
            height: 300px;
            img{
                width: 100%;
                height: 300px;
            }
        }
        .slider-cur{
            width: 300px;
            height: 300px;
            img{
                width: 100%;
                height: 300px;
            }
        }
        .slider-paq{
            width: 300px;
            height: 300px;
            img{
                width: 100%;
                height: 300px;
            }
        }
    }
    /* Index */
    /* Regiones */
    .back-to-top{
        display: none;
    }
    .div-imagenes{
        display: flex;
        flex-direction: column;
        img{
            margin-bottom: 10px;
        }
    }
    /* Fin Regiones */
    /* Paquetes */
    .fotografias{
        width: 300px;
        height: 300px;
    }
    /* Fin Paquetes */
}
/* Fin MEDIA QUERIES version MOBILE */
/* MEDIA QUERIES version TABLET */
@media only screen and (min-width: 481px) and (max-width: 968px){
    /* Footer */
    .fb, .ig, .tw, .tik {
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    /* Fin Footer */
    /* Index */
    #sliders{
        .slider-reg{
            width: 300px;
            height: 400px;
            img{
                width: 100%;
                height: 400px;
            }
        }
        .slider-cur{
            width: 300px;
            height: 400px;
            img{
                width: 100%;
                height: 400px;
            }
        }
        .slider-paq{
            width: 300px;
            height: 400px;
            img{
                width: 100%;
                height: 400px;
            }
        }
    }
    /* Index */
    /* Regiones */
    .back-to-top{
        display: none;
    }
    .div-imagenes{
        display: flex;
        justify-content: center;
        img{
            width: 250px;
            height: 400px;
            margin-bottom: 10px;
        }
    }
    /* Fin Regiones */
    /* Paquetes */
    .fotografias{
        width: 400px;
        height: 400px;
    }
    /* Fin Paquetes */
}
/* Fin MEDIA QUERIES version TABLET */