/* Estilos de PAQUETES */
#itinerarios{
    .col-lg-4{
        margin: 0;
        padding: 25px;
        .p-paquetes{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}
/* Fin Estilos de PAQUETES */